[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-phonenumber-field = "*"
djoser = "*"
djangorestframework = "*"
openpyxl = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
xlrd = "*"
boto3 = "*"
django-storages = "*"
django-on-heroku = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
